.section{
  text-align: center;
}


/* Delivery Form section  */
.form {
  background-color: #078282FF;
  width: 350px;
  height: 500px;
  border: 1px solid black;
  border-radius: 5%;
  margin: auto;
  padding: 10px;
}
.div {
 
  display: flex;
  flex-direction: column;
}
.label {
  margin: 10px 10px;
  text-align: left;
}
.input {
  width: 300px;
  height: 20px;
  margin: auto;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.checks {
  display: flex;
  margin: auto;
}

.button {
  height: 25px;
  background-color: azure;
  margin: 15px 50px;

  color: rgb(14, 4, 4);
    
    background: white;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    transition: 0.5s;
}
.button:hover {
  box-shadow: inset 6px 6px 6px #339E66FF, inset -6px -6px 6px #339E66FF;
  background: #339E66FF;
  color: white;
}

.buttonUpdate {
  height: 25px;
  background-color: azure;
  margin: 15px 50px;

  color: rgb(14, 4, 4);

  background: white;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  transition: 0.5s;
}

.buttonUpdate:hover {
  box-shadow: inset 6px 6px 6px rgb(234, 246, 11), inset -6px -6px 6px rgb(234, 246, 11);
  background: rgb(234, 246, 11);
  
}
/* List Section */

.contact {
  text-align: left;
  
  color: white;
  width: 600px;
  margin: 10px auto ;
  padding: 25px;
  border-radius: 50px;
    box-shadow: inset 6px 6px 6px #078282FF, inset -6px -6px 6px #078282FF;
    background-color: #078282FF;
    
}


/* Items section */
.contactBlock {
  
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.contactName {
  font-weight: 700;
}
.contactPhone {
  font-style: italic;
}

.delete {
 position: absolute;
 height: 50px;
 top: 34px;
 left: 540px;
  background-color: azure;
  color: rgb(14, 4, 4);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    transition: 0.5s;
}
.delete:hover {
  box-shadow: inset 6px 6px 6px rgb(197, 75, 75), inset -6px -6px 6px rgb(197, 75, 75);
  background: rgb(197, 75, 75);
  color: white;
}
.update {
  position: absolute;
  height: 50px;
  top: 34px;
  left: 440px;
  background-color: azure;
  color: rgb(14, 4, 4);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  transition: 0.5s;
}

.update:hover {
  box-shadow: inset 6px 6px 6px rgb(234, 246, 11), inset -6px -6px 6px rgb(234, 246, 11);
  background: rgb(234, 246, 11);
  
}


/* ------------- Modal section ------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 26, 26, 0.8);
  
  z-index: 1200;
}
.modal {
  position: relative;
  background: white;
  width: 350px;
  height: 200px;
  border-radius: 5px;

}

.modalContent {
  position: absolute;
  width: 499px;
  height: 371px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}